[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/student1/Desktop/brave-browser.desktop]
row=1
col=1

[/home/student1/Desktop/virtualbox.desktop]
row=2
col=1

[A694AC7894AC4C9D]
row=0
col=0

[574efc92-0b7f-4276-a58d-23c9db322699]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/student1]
row=0
col=1

